@{
    ViewData["Title"] = "Family";
}

<div class="text-center">
    <p>Family members</p>
</div>

<form action="/Family/AddFamilyMember" method="post">
    <label>Email</label>
    <input type="text" name="Email" />
    <input type="submit" name="submit" />
</form>
